<!--Grid row-->
<div *ngIf="dataService.author" class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 text-center">

        <img src="{{dataService.author.media.path}}" class="img-fluid" alt="{{dataService.author.title}}">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Title-->
        <h1 class="product-title mb-3">{{dataService.author.title}}</h1>

        <!--Content-->
        <div>

            <p class="lead font-weight-bold">Description</p>

            <p>{{dataService.author.description}}</p>



        </div>
        <!--Content-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->


