<div class="row justify-content-center">
    <div class="col-md-6 mb-4 pb-5">
        <div class="card mt-5">
            <form [formGroup]="logInForm" novalidate (ngSubmit)="logIn()" class="card-body">
                <div class="form-header default-color">
                    <h3>
                        <i class="fas fa-lock"></i> Login:
                    </h3>
                </div>
                <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input formControlName="loginName" type="text" id="defaultForm-email" class="form-control">
                    <label for="defaultForm-email">Your email</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input formControlName="password" type="password" id="defaultForm-pass" class="form-control">
                    <label for="defaultForm-pass">Your password (min 6 characters, max 12 characters)</label>
                </div>
                <div class="text-center">
                    <button [disabled]="logInForm.invalid" class="btn btn-default waves-effect waves-light">Login</button>
                </div>
            </form>
            <div class="modal-footer">
                <div class="options w-100 d-flex justify-content-between">
                    <span>
                        Not a member? <a routerLink="/register">Sign Up</a>
                    </span>
                    <span style="visibility: hidden;">
                        Forgot <a href="#">Password?</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
